<nz-modal [nzFooter]="modalFooterDialogP" [nzClosable]="false" [nzWidth]="1024" [nzWrapClassName]="'vertical-center-modal'" [nzContent]="modalContentDialogP" [nzVisible]="modal.status" [nzTitle]="modal.infor.inforTitle">
  <ng-template #modalContentDialogP>
  	<div nz-row [nzGutter]="16">
	    <div nz-col [nzXs]="24" [nzSm]="8" style="width: 320px;">
	        <nz-card>
	        	<div nz-form-item class="d-flex">
		        	<div nz-form-label><label for="status">意见</label></div>
		        	<div nz-form-control class="flex-1">
		        		<nz-input [(ngModel)]="more" [nzType]="'textarea'" [nzRows]="'8'"></nz-input>
		        	</div>
		        </div>
		        <nz-radio-group [(ngModel)]="radioValue" style="margin-left: 0; margin-top: 0;">
			      <label nz-radio [nzValue]="'2'">
			        <span>同意</span>
			      </label>
			      <label nz-radio [nzValue]="'3'">
			        <span>不同意</span>
			      </label>
			    </nz-radio-group>
	        </nz-card>
	    </div>
	    <div nz-col [nzXs]="24" [nzSm]="12">
	        <nz-card style=" height: 320px; margin-top: 0; overflow-y: scroll; margin-right: -186px;" id='show2'>
	        	
	        </nz-card>
	    </div>
	</div>
  </ng-template>
  <ng-template #modalFooterDialogP>
    <button nz-button [nzType]="'primary'" [nzSize]="'large'" (click)="handleClose($event)">
      关 闭
    </button>
  </ng-template>
</nz-modal>