<div nz-form-label style="border-bottom: 1px solid #CDCDCD; text-align: center;">
	<nz-dropdown [nzTrigger]="'click'">
      <a href class="ant-dropdown-link" nz-dropdown>{{toName}}
        <span *ngIf="toNum > 0">({{toNum}})</span>
        <i class="anticon anticon-down"></i>
      </a>
      <div nz-menu *ngFor="let item of msgList" style="width: 200px;">
        <span nz-menu-item>
        	<nz-avatar [nzSrc]="item.avatar" [nzSize]="'large'" [nzShape]="'square'"></nz-avatar>
        </span>
      </div>
    </nz-dropdown>
</div>
<div class="content">
  <div class="content-li" *ngFor="let i of msgList">
    <div [ngClass]="{true:'img-right',false:'img-left'}[i.createUserVid == _userVid]">
      <nz-avatar [nzSrc]="i.avatar" [nzSize]="'large'" [nzShape]="'square'"></nz-avatar>
    </div>
    <div [ngClass]="{true:'trangle-right',false:'trangle-left'}[i.createUserVid == _userVid]"></div>
    <div [ngClass]="{true:'content-right',false:'content-left'}[i.createUserVid == _userVid]">
      {{i.content}}@{{i.createTimestamp}}
    </div>
  </div>
</div>
<div style="margin-top: 10px;">
    <nz-input [(ngModel)]="message" [nzType]="'textarea'" [nzRows]="'4'"></nz-input>
</div>
<div style="margin-top: 10px; float: right;">
    <button nz-button [nzType]="'primary'" (click)="sendMessage('')">
      <span>发送</span>
    </button>
</div>