<div style="height: 0;"></div>
<div nz-row [nzGutter]="16">
    <div nz-col [nzXs]="24" [nzSm]="6" style="width: 320px;" *ngIf="progress.progressRole!=5">
        <nz-card>
        	<div nz-form-item class="d-flex">
	        	<div nz-form-label><label for="status">意见</label></div>
	        	<div nz-form-control class="flex-1">
	        		<nz-input [(ngModel)]="more" [nzType]="'textarea'" [nzRows]="'8'"></nz-input>
	        	</div>
	        </div>
	        <nz-radio-group [(ngModel)]="radioValue" style="margin-left: 0; margin-top: 0;">
		      <label nz-radio [nzValue]="'2'">
		        <span>同意</span>
		      </label>
		      <label nz-radio [nzValue]="'3'">
		        <span>不同意</span>
		      </label>
		    </nz-radio-group>
        </nz-card>
    </div>
    <div nz-col [nzXs]="24" [nzSm]="6">
    	<nz-card [nzTitle]="nzTitle" nzNoPadding style=" height: 320px; margin-top: 0; overflow-y: scroll; ">
	        <ng-template #nzTitle>
	            附件:
	            <small class="text-sm font-weight-normal"></small>
	        </ng-template>
	        <div nz-row [nzType]="'flex'" [nzJustify]="'center'" [nzAlign]="'middle'" class="py-sm bg-grey-lighter-h point"
	            *ngFor="let item of attachs; let idx=index">
	            <div nz-col [nzSpan]="20" style="margin-left: 24px;">
	                <strong><a (click)="show(item)">附件{{idx}}</a></strong>
	            </div>
	        </div>
	    </nz-card>
	</div>
    <div nz-col [nzXs]="24" [nzSm]="10">
        <nz-card style=" height: 320px; margin-top: 0; overflow-y: scroll; " id='progress1uuu'>
        	
        </nz-card>
    </div>
   <!--  <div nz-col [nzXs]="24" [nzSm]="progress.progressRole!=5?16:24">
    	<nz-card [nzBordered]="false">
		  <nz-table #nzTable 
		  	[nzDataSource]="data" 
		  	[nzIsPagination]="'false'" 
		  	[nzBordered]="'true'">
		    <thead nz-thead>
		      <tr>
		        <th nz-th><span>名称</span></th>
		        <th nz-th><span>内容</span></th>
		      </tr>
		    </thead>
		    <tbody nz-tbody>
		      <tr nz-tbody-tr *ngFor="let item of nzTable.data">
		        <td nz-td>{{item.title}}</td>
		        <td nz-td>{{item.content}}</td>
		      </tr>
		    </tbody>
		  </nz-table>
		</nz-card>
        <nz-card style="width: 960px; height: 256px; margin-top: 0; overflow-y: scroll;" id="{{id}}">
        </nz-card>
    </div> -->
</div>
