<nz-list [nzDataSource]="clusterList" [nzLoading]="loading">
    <ng-template #item let-item>
        <nz-list-item [nzContent]="nzContent">
            <a (click)="show(item.clusterVid)">
                <nz-list-item-meta
                    [nzTitle]="nzTitle"
                    [nzDescription]="item.firstMsg"
                    [nzAvatar]="nzAvatar">
                    <ng-template #nzTitle>
                        {{item.clusterName}}
                    </ng-template>
                    <ng-template #nzAvatar>
                        <nz-avatar [nzSrc]="logo" [nzSize]="'large'" [nzShape]="'square'"></nz-avatar>
                    </ng-template>
                    <ng-template #nzContent>
                        <div class="text-right">
                            <p>{{item.createTimestamp | date: 'hh:mm'}}</p>
                        </div>
                    </ng-template>
                </nz-list-item-meta>
            </a>
        </nz-list-item>
    </ng-template>
</nz-list>
