<div style="height: 24px;"></div>
<div nz-row [nzGutter]="1">
  <div nz-col [nzXs]="24" [nzSm]="6">
      <nz-card class="height1">

          <nz-tabset>
            <nz-tab *ngFor="let tab of tabs">
              <ng-template #nzTabHeading>
                <i [ngClass]="tab.icon"></i>
                {{tab.name}}
              </ng-template>
              <!-- 群组聊天记录 -->
              <div *ngIf="tab.index==1">
                <nz-list [nzDataSource]="clusterList" [nzLoading]="loading">
                  <ng-template #item let-item>
                      <nz-list-item [nzContent]="nzContent">
                          <a (click)="setClusterVid(item)">
                              <nz-list-item-meta
                                  [nzTitle]="nzTitle"
                                  [nzDescription]="item.firstMsg"
                                  [nzAvatar]="nzAvatar">
                                  <ng-template #nzTitle>
                                      {{item.clusterName}}
                                  </ng-template>
                                  <ng-template #nzAvatar>
                                    <nz-badge [nzCount]="item.noReadCount" [nzOverflowCount]="99">
                                      <ng-template #content>
                                        <nz-avatar [nzSrc]="logo" [nzSize]="'large'" [nzShape]="'square'"></nz-avatar>
                                      </ng-template>
                                    </nz-badge>
                                  </ng-template>
                                  <ng-template #nzContent>
                                      <div class="text-right">
                                        <p *ngIf="item.updateTimestamp != ''">{{item.updateTimestamp | date: 'hh:mm'}}</p>
                                        <p *ngIf="item.updateTimestamp == ''">{{item.createTimestamp | date: 'hh:mm'}}</p>
                                      </div>
                                  </ng-template>
                              </nz-list-item-meta>
                          </a>
                      </nz-list-item>
                  </ng-template>
                </nz-list>
              </div>
              <!-- 通讯录：群组和联系人 -->
              <div *ngIf="tab.index==2">
                <!-- 群组 -->
                <div nz-form-label style="border-bottom: 2px solid #CDCDCD;"><label for="status">群组</label></div>
                  <nz-list [nzDataSource]="clusterList" [nzLoading]="loading">
                      <ng-template #item let-item>
                          <nz-list-item [nzContent]="nzContent">
                              <a (click)="setClusterVid(item)">
                                  <nz-list-item-meta
                                      [nzTitle]="nzTitle"
                                      [nzAvatar]="nzAvatar">
                                      <ng-template #nzTitle>
                                          {{item.clusterName}}
                                      </ng-template>
                                      <ng-template #nzAvatar>
                                          <nz-avatar [nzSrc]="logo" [nzSize]="'large'" [nzShape]="'square'"></nz-avatar>
                                      </ng-template>
                                  </nz-list-item-meta>
                              </a>
                          </nz-list-item>
                      </ng-template>
                  </nz-list>
                  <!-- 联系人 -->
                  <div nz-form-label style="border-bottom: 2px solid #CDCDCD;"><label for="status">联系人</label></div>
                  <nz-list [nzDataSource]="userList" [nzLoading]="loading">
                      <ng-template #item let-item>
                          <a (click)="setUserVid(item)">
                              <nz-list-item [nzContent]="nzContent">
                                  <nz-list-item-meta
                                      [nzTitle]="nzTitle"
                                      [nzAvatar]="nzAvatar">
                                      <ng-template #nzTitle>
                                          {{item.userName}}
                                      </ng-template>
                                      <ng-template #nzAvatar>
                                          <nz-avatar [nzSrc]="item.avatar" [nzSize]="'large'" [nzShape]="'square'"></nz-avatar>
                                      </ng-template>
                                  </nz-list-item-meta>
                              </nz-list-item>
                          </a>
                      </ng-template>
                  </nz-list>
              </div>
              <!-- 历史聊天记录 -->
              <div *ngIf="tab.index==3">
                <form nz-form (ngSubmit)="getList()">
                <!-- <form nz-form> -->
                  <div nz-row nz-form-item [nzGutter]="16">
                      <div nz-form-label nz-col [nzSm]="7">
                          <label for="name">用户姓名</label>
                      </div>
                      <div nz-form-control nz-col [nzSm]="17">
                          <nz-input [(ngModel)]="input_name">
                            <ng-template #addOnAfter><i (click)="showModal()" [ngClass]="'fa fa-list-ul'"></i></ng-template>
                          </nz-input>
                      </div>
                  </div>
                  <div nz-row nz-form-item [nzGutter]="16">
                      <div nz-form-label nz-col [nzSm]="7">
                          <label>开始时间</label>
                      </div>
                      <div nz-form-control nz-col [nzSm]="17">
                        <nz-datepicker [(ngModel)]="begin_date" name="begin_date" [nzPlaceHolder]="'开始时间'"></nz-datepicker>
                      </div>
                  </div>
                  <div nz-row nz-form-item [nzGutter]="16">
                      <div nz-form-label nz-col [nzSm]="7">
                          <label>结束时间</label>
                      </div>
                      <div nz-form-control nz-col [nzSm]="17">
                        <nz-datepicker [(ngModel)]="end_date" name="end_date" [nzPlaceHolder]="'结束时间'"></nz-datepicker>
                      </div>
                  </div>
                  <div nz-row nz-form-item [nzGutter]="16" class="mb0">
                      <div nz-form-label nz-col [nzSm]="7">
                          <label for="userid">聊天内容</label>
                      </div>
                      <div nz-form-control nz-col [nzSm]="17">
                          <nz-input [(ngModel)]="input_content"></nz-input>
                      </div>
                  </div>
                  <div style="height: 24px;"></div>
                  <div nz-row nz-form-item [nzGutter]="16">
                      <div nz-col [nzSm]="24" [nzOffset]="10">
                          <button nz-button [nzType]="'primary'" type="submit" [nzSize]="'large'"><span>查询</span></button>
                          <button nz-button (click)="reset($event)" [nzSize]="'large'">重置</button>
                      </div>
                  </div>
                </form>
              </div>
            </nz-tab>
          </nz-tabset>
      </nz-card>
  </div>
  <!-- 聊天区 -->
  <div nz-col [nzXs]="24" [nzSm]="18">
    <nz-card class="height1" *ngIf="isHistory==1">
      <div nz-form-label style="border-bottom: 1px solid #CDCDCD; text-align: center;">
        <nz-dropdown [nzTrigger]="'click'">
            <a href class="ant-dropdown-link" nz-dropdown>{{toName}}
              <span *ngIf="toNum > 0">({{toNum}})</span>
              <i class="anticon anticon-down"></i>
            </a>
            <div nz-menu *ngFor="let item of list" class="clusterDiv">
              <span nz-menu-item class="member">
                <a *ngIf="item.value == 'add_member'" (click)="addNewMember()">
                  <nz-avatar class="avatar" [nzSrc]="item.avatar" [nzSize]="'large'" [nzShape]="'square'"></nz-avatar>
                </a>
                <div *ngIf="item.value != 'add_member'">
                  <nz-avatar class="avatar" [nzSrc]="item.avatar" [nzSize]="'large'" [nzShape]="'square'"></nz-avatar>
                </div>
                <p class="nickname">{{item.userName}}</p>
              </span>
            </div>
          </nz-dropdown>
      </div>
      <div id="scrollDiv" class="content">
        <div class="content-li" *ngFor="let i of msgList">
          <div [ngClass]="{true:'img-right',false:'img-left'}[i.createUserVid == _userVid]">
            <div>{{i.userName}}</div>
            <nz-avatar [nzSrc]="i.avatar" [nzSize]="'large'" [nzShape]="'square'"></nz-avatar>
          </div>
          <div [ngClass]="{true:'trangle-right',false:'trangle-left'}[i.createUserVid == _userVid]"></div>
          <div [ngClass]="{true:'content-right',false:'content-left'}[i.createUserVid == _userVid]">
            {{i.content}}
          </div>
        </div>
      </div>
      <div style="margin-top: 10px;">
          <nz-input [(ngModel)]="message" [nzType]="'textarea'" [nzRows]="'4'"></nz-input>
      </div>
      <div style="margin-top: 10px; float: right;">
          <button nz-button [nzType]="'primary'" (click)="sendMessage()">
            <span>发送</span>
          </button>
      </div>
    </nz-card>
    <nz-card class="_height1" *ngIf="isHistory==2">
      <div nz-row [nzGutter]="16">
        <div nz-col [nzMd]="24">
            <nz-card>
                <nz-table #nzTable
                    [nzAjaxData]="historyList"
                    nzShowSizeChanger
                    [nzTotal]="total"
                    [(nzPageIndex)]="page"
                    [nzPageSizeSelectorValues]=[5,10,20,50]
                    (nzPageIndexChange)="getList()"
                    [(nzPageSize)]="rows"
                    (nzPageSizeChange)="getList(true)">
                    <thead nz-thead>
                        <tr>
                            <th nz-th><span>头像</span></th>
                            <th nz-th><span>用户名</span></th>
                            <th nz-th><span>聊天内容</span></th>
                            <th nz-th><span>创建时间</span></th>
                        </tr>
                    </thead>
                    <tbody nz-tbody>
                        <tr nz-tbody-tr *ngFor="let data of nzTable.data">
                            <td nz-td>
                                <nz-avatar [nzSrc]="data.msgCreateUserAvatar" [nzSize]="'large'"></nz-avatar>
                            </td>
                            <td nz-td>{{data.msgCreateUserName}}</td>
                            <td nz-td><a (click)="getHistoryMsg(data)">{{data.msgContent}}</a></td>
                            <td nz-td>{{data.createTimestamp*1000 | date:"yyyy-MM-dd HH:mm:ss"}}</td>
                        </tr>
                    </tbody>
                </nz-table>
            </nz-card>
        </div>
      </div>
    </nz-card>
  </div>
</div>


<nz-modal class="ant-modal-content" [nzWrapClassName]="'vertical-center-modal'" [nzVisible]="isVisible" [nzTitle]="'添加群组成员'" [nzContent]="modalContent" (nzOnCancel)="handleCancel($event)" (nzOnOk)="handleOk($event)">
  <ng-template #modalContent style="margin-top: 100px;">
    添加新成员
    <div >
      <nz-avatar style="margin-right: 5px;" [nzSrc]="logo" [nzSize]="'large'" [nzShape]="'square'"></nz-avatar>
      <nz-avatar style="margin-right: 5px;" [nzSrc]="logo" [nzSize]="'large'" [nzShape]="'square'"></nz-avatar>
      <nz-input style="height: 40px; line-height: 40px;" [nzType]="'search'" [nzPlaceHolder]="'input search text'" [(ngModel)]="_value" style="width: 200px;" (nzOnSearch)="onSearch($event)"></nz-input>
    </div>
    <nz-list [nzDataSource]="userList" [nzLoading]="loading">
      <ng-template #item let-item>
          <a (click)="setUserVid(item)">
              <nz-list-item [nzContent]="nzContent">
                  <nz-list-item-meta
                      [nzTitle]="nzTitle"
                      [nzAvatar]="nzAvatar">
                      <ng-template #nzTitle>
                          {{item.userName}}
                      </ng-template>
                      <ng-template #nzAvatar>
                        <nz-avatar [nzSrc]="item.avatar" [nzSize]="'large'" [nzShape]="'square'"></nz-avatar>
                      </ng-template>
                  </nz-list-item-meta>
              </nz-list-item>
          </a>
      </ng-template>
    </nz-list>
  </ng-template>
</nz-modal>

<nz-modal [nzVisible]="isVisible2" [nzTitle]="'花名册'" [nzFooter]="modalFooter" [nzContent]="modalContent2" [nzClosable]="">
  <ng-template #modalContent2>
    <s-tree class="tree" [data]="nodes" (onClose)="closeTree()" (onApprove)="selectedTree()"></s-tree>
  </ng-template>
  <ng-template #modalFooter>
  </ng-template>
</nz-modal>
