<nz-modal [nzFooter]="modalFooterDialogRp" [nzClosable]="false" [nzWidth]="1024" [nzWrapClassName]="'vertical-center-modal'" [nzContent]="modalContentDialogRp" [nzVisible]="modal.status" [nzTitle]="modal.title">
  <ng-template #modalContentDialogRp>
  	<div nz-row [nzGutter]="16">
	    <div nz-col [nzXs]="24" [nzSm]="8" style="width: 320px;">
	        <nz-card [nzTitle]="nzTitle" nzNoPadding>
		        <ng-template #nzTitle>
		            附件:
		            <small class="text-sm font-weight-normal"></small>
		        </ng-template>
		        <div nz-row [nzType]="'flex'" [nzJustify]="'center'" [nzAlign]="'middle'" class="py-sm bg-grey-lighter-h point"
		            *ngFor="let item of attachs; let idx=index">
		            <div nz-col [nzSpan]="20" style="margin-left: 24px;" (click)="show(item)">
		                <strong><a >附件{{idx}}</a></strong>
		            </div>
		        </div>
		    </nz-card>
	    </div>
	    <div nz-col [nzXs]="24" [nzSm]="12">
	    	<i class="fa fa-expand" style="float: right; cursor: pointer;" (click)="isExpand()"></i>
	        <nz-card [ngClass]="{true:'card',false:'nocard'}[isExpd]" id='{{id}}'>
	        </nz-card>
	        <i *ngIf="isExpd" class="fa fa-compress" style="position: fixed; top: 5%;right: 5%; z-index: 10000; cursor: pointer;" (click)="noExpand()"></i>
	    </div>
	</div>
  </ng-template>
  <ng-template #modalFooterDialogRp>
    <button nz-button [nzType]="'primary'" [nzSize]="'large'" (click)="handleClose($event)">
      关 闭
    </button>
  </ng-template>
</nz-modal>
